html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    min-height: 100vh;
    font-size: 62.5%;
}

body {
    
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    background-color: #0d0d0d; 
    background-image: url("../images/background.png"); 

    color: #e0e0e0;
    margin: 0;
    font-family: 'Georgia', serif; 
}

.gameTitle{
    font-size: 3.5rem;
    margin-bottom: 0;
}

.mainArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 2rem;
    width: 50%;
}

#button{
    width: 20rem;           
    height: 20rem;          
    border-radius: 50%;     
    filter: drop-shadow(0 0 20px #018001);
    
    background-image: url('../images/soulClickerImage.webp'); 
    background-size: cover; 
    background-position: center;
    border: none;
    cursor: pointer;
    transition: transform 0.1s; 
}

#button:active {
    transform: scale(0.95);
}

#scoreDisplay{
    font-size: 2.4rem;
}

.gameContainer{
    
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;

}

.achievements{
    width: 25%;
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    border: solid 1px orange;
}

#achievementsHeader{
    border: solid 1px blue;
    font-size: 2rem;
    text-align: center;
}

#achievementsBody{
    border: solid 1px blue;
    flex-grow: 1;

}

.store{
    width: 25%;
    background-color: red;
    display: flex;
    flex-direction: column;
    border: solid 1px orange;
}

#storeHeader{
    border: 1px solid blue;
    text-align: center;
    font-size: 2rem;
}

#storeBody{
    border: 1px solid blue;
    flex-grow: 1;

}


